* { margin: 0px;
    padding: 0px;
}

body {
    font-family: "Calibri", Helvetica, Arial; padding-top: 70px; /*Fonte do conteúdo, as aspas duplas são para identificar que fonte é a primária */
}

header { /* Estilo do Cabeçalho */ width: 100%; height: 70px; background-color: #e28f2e; position: fixed; top: 0; }

/* MENU */

.logo {
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 20px;
    float: left;
}

nav { height: 70px;
      font-size: 19px;
}

nav ul { list-style-type: none;}

nav li { float: left;
         margin-left: 8px;
         color:white;
         font-weight: bold;
         line-height: 3.7;
       }

nav ul .BOTAO:hover { /*config. mouse sobre o botão */ background-color: rgba(255, 255, 255, 0.2); }

/* nav ul .BOTAO:active { color: yellow;} Estado do botão quando clicarmos nele /*

/* CONTEÚDO */

h1 {font-size: 24px;}

main { width: 1000px;
       height: auto;
       margin: 0 auto; /* Independente de como abrir a página vai ficar no centro o conteúdo com o "auto" direita e esquerda e colar no banner com "0" pra cima e pra baixo. */}

article { margin-bottom: 10px;
          margin-top: 20px;;
          text-align: justify; }

.fotoshome { width: 50%;
             float: left;
             text-align: center; 
             margin: 10px 0px;}

footer { clear: both;
         width: 100%;
         background-color: #e28f2e;
         color: white;
         text-align: center;
         padding: 10px 0px;}

footer figure img { margin: 10px 1px;
                  }

        /* PÁGINA SOBRE */

.fotossobre { width: 20%;
              height: 150px;
              float: left; }
              

.asobre { width: 80%;
          height: 150px;
          float: left;
          padding-top: 10px;
        }

        /* PÁGINA CONTATO */

#info { width: 370px;
        float: left;
      }

.infoclass { margin-bottom: 25px;}      

#formulario { width: 600px;
              float: right;
            }

#formulario label { font-size: 16px;}

#formulario div input { background-color: #fae5cc;
                        border: 1px solid #f2c085;
                        width: 600px;
                        height: 25px;}

#formulario div textarea { background-color: #fae5cc; border: 1px solid #f2c085;
width: 600px; height: 60px; resize: none;}

#formulario .BOTAO { width: 90px;
                     height: 30px;
                     font-size: 16px;
                     color: white;
                     float: right;
                     margin-left: 20px;
                     margin-top: 12px;
                     margin-bottom: 15px;}

#formulario #ENVIAR { background-color: #52883f;
                      border: 1px solid #8bac7f }

#formulario #LIMPAR { background-color: #c73636;
                      border: 1px solid #b89898}

#formulario h2 {
                 font-size: 22px;
                 color: #e28f2e;
                 text-align: center;
                 margin-top: 35px;
               }

            /* GALERIA */ 

.galeria {
         text-align: center;
         margin: 10px;
         }

.galeria img {
             padding: 15px;
             }

.titulogaleria { text-align: center;}






